$bgOne: #274690;
$bgTwo: #576CA8;
$black: #302B27;
$white: #F5F3F5;
$otherColor: #1B264F;

@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Titillium+Web&display=swap');

$fontBody: 'Montserrat', sans-serif;
$fontHeader: 'Titillium Web', sans-serif;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $fontBody;
  color: $white;

}


body {
background: rgb(87,108,168);
background: linear-gradient(0deg, rgba(87,108,168,1) 0%, rgba(39,70,144,1) 90%);
height: 100vh;
display: flex;
align-items: center;
justify-content: center;
}

.translator {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}