$bgOne: #274690;
$bgTwo: #576CA8;
$black: #302B27;
$white: #F5F3F5;
$otherColor: #1B264F;

@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Titillium+Web&display=swap');

$fontBody: 'Montserrat', sans-serif;
$fontHeader: 'Titillium Web', sans-serif;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $fontBody;
  color: $white;

}


body {
background: rgb(87,108,168);
background: linear-gradient(0deg, rgba(87,108,168,1) 0%, rgba(39,70,144,1) 90%);
height: 100vh;
display: flex;
align-items: center;
justify-content: center;
}

.translator {
  display: grid;
  width:400px;
  height:90vh;
  grid-template-columns: 1fr;
  grid-template-rows: 0.25fr 1fr 0.25fr 1fr;
  grid-auto-rows: 1fr;
  gap: 10px 10px;
  background-color: 576490;
  border-radius: 20px;
  grid-auto-flow: row;
  justify-content: center;
  align-content: center;
  justify-items: stretch;
  align-items: stretch;


&__englishHeader {
  
  background-color: #576490;
  
  grid-area: 1 / 1 / 2 / 2;
  width: 100%;
  height: 100%;
  
  border-radius: 20px;
}

&__englishHeader h2{
  font-family: $fontHeader;
  text-align: center;
  vertical-align: center;
}
&__englishInput { 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border-radius: 20px;
  grid-area: 2 / 1 / 3 / 2; }

&__morseHeader { 
  border-radius: 20px;
  background-color: #576490;
  justify-self: stretch;
  align-self: stretch;
  grid-area: 1 / 1 / 2 / 2;
  width: 100%;
  height: 100%;
  border: 2px solid grey;
  grid-area: 3 / 1 / 4 / 2; }

&__morseHeader h2{
  line-height: 1.5;
  font-family: $fontHeader;
  text-align: center;
  vertical-align: center;
}
&__morseInput { 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  
  grid-area: 4 / 1 / 5 / 2; 
}


}